.div-top{
	height: 4rem;
	text-align: center;
	vertical-align: middle;
	font-size: 2.3rem;
	color: #CECECE;
	background-color: #cd1144;
	line-height: 4rem;
	position: absolute;
	width: 100%;
	top: 0px;
}


.div-foot{
	background-color: white;
	position: absolute;
	width: 100%;
	top: 4rem;
	height: auto;
	padding-top: .65rem;
	overflow-y: hidden;
}
.m-cell{
	margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    color: #CECECE;
    margin: 0px 10px;
}

.cell-left,.cell-right{
	border-bottom: 1px solid #CECECE;
	font-size: .25rem;
}

.password-get>div{
	color: #cd1144;
	margin-top: 15px;
	margin-right: 10px;
}
.password{
	float: right;
}

.login-btn{
	margin: 15px 10px;
	text-align: center;
	position: relative;
	
	
}

.other-login{
    font-size: .28rem;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    position: relative;
    color: #505050;;
}
.other-login::before{
    content: "";
    display: block;
    width: 90vw;
    height: 1px;
    background: #CECECE;;
    position: absolute;
    left: 50%;
    margin-left: -45vw;
    top: 18px;
}
.other-login span{
    padding: 0 10px;
    background: white;
    position: relative;
    z-index: 2;
}

.other-login-detail>div{
	font-size: .75rem;
	color: #cd1144;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 15px;
}

.register{
	text-align: center;
	color: #cd1144;
	padding-top: 1.45rem;
	padding-bottom: .55rem;
}
