.pay-items{
    color: #505050;
    background-color: white;

}

.pay-title{
    background-color: #EEEDF3;
    font-size: .35rem;
}
.pay-title>div{
    float: left;
    padding: 15px 10px;
    width: 50%;
}

.pay-title>div{
    background-color: #EEEDF3;
}

.pay-title>div:last-child, .pay-item-detail>a>div:last-child{
    text-align: right;
}

.pay-item-detail{
    font-size: .3rem;
}
.pay-item-detail>a{
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EEEDF3;
}

.pay-item-detail>a:last-child{
    border-bottom:none;
}

.pay-item-detail>a>div:first-child{
    float: left;
    width: 90%;
    line-height: 70px;
    text-align: left;
    padding-left: 10px;
}
.pay-item-detail>a>div:last-child{
    float: left;
    width: 10%;
    line-height: 70px;
    text-align: right;
    padding-right: 10px;
}
.pay-name>span:first-child{
    font-size: .6rem;
    padding-right: 5px;
    /*color: #cd1144;*/
}
