<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <base th:href="@{/}">
    <link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <script src="js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/bang-phone" />
</head>
<body>
<section class="g-flexview">
    <header class="m-navbar">
        <a class="navbar-item"><i class="back-ico" onclick="javascript:history.go(-1)"></i></a>
        <div class="navbar-center"><span class="navbar-title">绑定/解绑手机号码</span></div>
    </header>
    <div class="header-height"></div>
    <section class="g-scrollview">
    </section>

</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="js/ydui.js" ></script>
<script type="text/javascript" src="js/common.js" ></script>
</html>
