<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
    <link rel="stylesheet" href="css/ydui.css?rev=@@hash"/>
    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/category.css" />
    <script src="js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
	<style>
		body{
			background-color: white;
		}
	</style>
    
</head>
<body>
<section class="g-flexview">
    <header class="m-navbar">
        <a class="navbar-item"><i class="back-ico" onclick="javascript:history.go(-1)"></i></a>
        <div class="navbar-center"><span class="navbar-title">分类</span></div>
        <div class="navbar-item navbar-right"><a href="order/shopCartList"><i class="icon-shopcart-outline"></i></a></div>
    </header>
	<div class="header-height"></div>
	
    <section class="g-scrollview">
			<ul class="category-list" th:each="level:${data.level_list}" th:if="${#lists.size(level.category_list)}>0">
				<div class="category-title" th:text="${level.level_name}"></div>
				<div class="category-detail">
					<li th:onclick="'toGoodsList('+${item.category_id}+')'" th:each="item:${level.category_list}" th:text="${item.category_name}" th:data-category-id="${item.category_id}" th:data-category-code="${item.category_code}"></li>
				</div>
			</ul>
		<div style="width: 100%;padding-bottom: 30px;"></div>
    </section>
</section>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/ydui.js"></script>
<script>
    function toGoodsList(categoryId) {
        window.location.href = "goods/goodsList?categoryIds="+categoryId;
    }
</script>
</body>
</html>
