<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
    <link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <script src="./js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/goodslist.css" />
	<style>
		.category-show{
			position: fixed;
			top: 1.1rem;
			width: 100%;
			z-index: 100;
			background-color: white;
			display: flex;
			padding: 10px 10px;
			color: #505050;
			border-bottom: 1px solid #CECECE;
		}
		.category-show>div:first-child{
		}
		.category-show>div:last-child{
			position: fixed;
			right: 10px;

		}
	</style>
</head>
<body>
<section class="g-flexview">
	<form id="dataForm" action="goods/goodsList" method="post">
		<header class="navbar-search">
			<input type="hidden" id="categoryIds" th:value="${categoryIds}" name="categoryIds">
			<input type="hidden" id="searchType" th:value="${searchType}" name="searchType">
			<div class="search-btn">
				<div>
					<a><i class="icon-turnback" onclick="javascript:history.go(-1)"></i></a>
				</div>
				<div>
					<input type="text" th:value="${goodsName}" placeholder="输入搜索内容" id="goodsName" name="goodsName"/>
				</div>
				<div>
					<span><a href="javascript:searchGoodsList()">搜索</a></span>
				</div>
			</div>
		</header>
	</form>
	<div class="header-height"></div>
    <section class="g-scrollview">
		<div class="category-show" th:if="${category_name != ''}">
			<div>分类：<span th:text="${category_name}"></span></div>
			<div><span onclick="clearCategory()">清除分类</span></div>
		</div>
    	<section class="g-scrollview" id="J_List">
			<div style="width: 100%; height: 0.8rem;" th:if="${category_name != ''}"></div>
        	<div id="J_ListContent" class="m-list list-theme1"></div>
    	</section>
    </section>
</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script src="js/ydui.js"></script>
<script>
	//var html = $("#testhtml").html();
</script>
<script src="js/ydui.js"></script>
<script>
    !function () {
        // 根据实际情况自定义获取数据方法
        var page = 1, pageSize = 20;
        var loadMore = function (callback) {
           $.ajax({
                url: 'goods/loadGoodsList',
                dataType: 'json',
                data: {
                    page: page,
                    pagesize: pageSize,
					goodsName:$("#goodsName").val(),
					categoryIds:$("#categoryIds").val(),
					searchType:$("#searchType").val()
                },
                success: function (ret) {
                    typeof callback == 'function' && callback(ret);
                }
            });
        };

        $('#J_List').infiniteScroll({
            binder: '#J_List',
            pageSize: pageSize,
            initLoad: true,
            loadingHtml: '<img src="img/loading10.svg"/>',
            //doneTxt:'没有更多数据了',
            loadListFn: function () {
                var def = $.Deferred();
                loadMore(function (ret) {

                	var code = ret.code;
                	var data = ret.data;
					var hasNext =  false;
                	if(code==1){
						var goodsList = data.goods_list;
						hasNext = data.has_next;
						for (var i = 0; i < goodsList.length; i++) {
							var goodsName = goodsList[i].goods_name;
							var sellCount = goodsList[i].sell_count;
							var nowMoney = goodsList[i].now_money;
							var trueMoney = goodsList[i].true_money;
							var skuNowMoney = goodsList[i].sku_now_money;
							var goodsId = goodsList[i].goods_id;
							var title = goodsList[i].title;
							var single = goodsList[i].is_single;
							var goodsImg = goodsList[i].goods_img;

							var html = "";
							if(single == 0){
								 html="<div class='goods-list'>\n" +
									"<div class='goods-item' onclick='toDetail("+goodsId+")'>\n" +
									"<div class='goods-img'>\n" +
									"<div align='center'><img src='"+goodsImg+"'></div>\n" +
									"</div>\n" +
									"<div class='goods-mes'>\n" +
									"<h3 class='goods-title'>"+goodsName+"</h3>\n" +
									"<div class='goods-mes-item'>\n" +
									"<div>\n" +
									"<span class='goods-price'><em>¥</em>"+skuNowMoney+"</span>\n" +
									"<span class='list-del-price'> </span>\n" +
									"</div>\n" +
									"<div>\n" +
									"<span class='sale-count'>已售 "+sellCount+" </span>\n" +
									"</div>\t\t                \t\n" +
									"</div>\n" +
									"</div>\n" +
									"<div style='clear: both;'></div>\n" +
									"</div>\n" +
									"</div>";
							}else{
								 html="<div class='goods-list'>\n" +
									"<div class='goods-item' onclick='toDetail("+goodsId+")'>\n" +
									"<div class='goods-img'>\n" +
									"<div align='center'><img src='"+goodsImg+"'></div>\n" +
									"</div>\n" +
									"<div class='goods-mes'>\n" +
									"<h3 class='goods-title'>"+goodsName+"</h3>\n" +
									"<div class='goods-mes-item'>\n" +
									"<div>\n" +
									"<span class='goods-price'><em>¥</em>"+nowMoney+"</span>\n" +
									"<span class='list-del-price'>¥"+trueMoney+"</span>\n" +
									"</div>\n" +
									"<div>\n" +
									"<span class='sale-count'>已售 "+sellCount+" </span>\n" +
									"</div>\t\t                \t\n" +
									"</div>\n" +
									"</div>\n" +
									"<div style='clear: both;'></div>\n" +
									"</div>\n" +
									"</div>";
							}
							$('#J_ListContent').append(html);
						}
					}

                  /* 获取数据，并插入页面后，调用resole，并传入当前获取的记录列表集合 */
                  def.resolve(hasNext);
                  ++page;
                });

                return def.promise();
            }
        });
        
    }();

    function clearCategory() {
    	$("#categoryIds").val('');
		$("#dataForm").submit();
	}

    function searchGoodsList() {
		$("#dataForm").submit();
	}
    
   function toDetail(goodsId){
       window.location.href = "goods/goodsDetail?goodsId="+goodsId
   };
</script>
</html>
