<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯详情</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <base th:href="@{/}">
    <link rel="stylesheet" href="css/ydui.css?rev=@@hash"/>
    <script src="js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/info.css" />
	<style>
		body{
			background-color: white;
		}
        .info-detail-content img{
            margin: 0px auto;
            width: 100%;
        }
	</style>
</head>
<body>
<section class="g-flexview">
	<header class="m-navbar">
        <a href="javascript:history.go(-1)" class="navbar-item"><i class="back-ico"></i></a>
        <div class="navbar-center"><span class="navbar-title">资讯详情</span></div>
        <div class="navbar-item navbar-right"><a href="index/mainPage"><i class="icon-home-outline"></i></a></div>
	</header>
	<div class="header-height"></div>
    <section class="g-scrollview">
    	<div class="info-detail-title">
			<h2 th:text="${data.info_title}"></h2>
		</div>
		<div class="info-detail-time">
			<span class="detail-time" th:text="${data.create_time}"></span>
			<span class="detail-time"><span>阅读&nbsp;&nbsp;</span><span th:text="${data.read_count}"></span></span>
			<div style="clear: both;"></div>
		</div>
		<div class="info-detail-content" th:utext="${data.info_content}"></div>
        <div class="to-url" th:if="${data.info_url != ''}">
            <a th:href="${data.info_url}" >资讯跳转<img src="img/imgpp.png" /></a>
        </div>
    </section>
</section>
</body>
 <script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="js/layer.js" ></script>
 <script type="text/javascript" src="js/ydui.js" ></script>
</html>
