<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
	<link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <script src="./js/ydui.flexible.js"></script>
	<link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/login.css" />
    <style>
    	body{
    			background-color: white;
			 	font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
			}
    </style>
</head>
<body>
<input type="hidden" th:value="${validType}" id="validType">
<section class="g-flexview">
    <section class="g-scrollview">
		<div class="div-top">
			<i class="icon-ucenter"></i>
		</div>
		<div class="div-foot">
			<section class="g-scrollview">
				<div class="user-info">
					<div class="cell-item">
			            <div class="cell-left"><i class="cell-icon demo-icons-phone"></i></div>
			            <div class="cell-right">
			                <input type="number" pattern="[0-9]*" maxlength="15" class="cell-input" placeholder="请输入手机号码" autocomplete="off" id="phone" />
							<a href="javascript:sendPhoneCode();" class="btn btn-mybtn3" style="width: 110px" id="time">获取短信验证码</a>
							<input type="hidden" value="1" id="timeFlag">
			            </div>
			        </div>
					<div class="cell-item">
				        <div class="cell-left">短信验证码：</div>
				        <div class="cell-right"><input maxlength="4" type="text" class="cell-input" placeholder="请输入短信验证码" autocomplete="off" id="phoneCode" /></div>
				    </div>
				</div>
				<div style="clear: both;"></div>
				<div class="password-get">
					<div class="code-login" align="center"><a href="login/userLogin">密码登录 &#62;</a></div>
				</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div class="register-btn" align="center">
					<a href="javaScript:phoneCodeLogin()" class="btn-block btn-mybtn4">登录</a>
				</div>
			</section>
			<div>
    			<h5 class="other-login">
        			<span>使用第三方登录</span>
     			</h5>
     			<div style="clear: both;"></div>
				<div class="other-login-detail" align="center">
					<div>
						<img src="img/wx.png">
						<img src="img/qq.png">
						<img src="img/qq.png">
					</div>
				</div>
			</div>
			<div class="register">
				<a>注册/登录即代表同意&nbsp;</a>
				<a class="agreed" href="user-agreed.html">&#60;&#60;用户协议&#62;&#62;</a>
			</div>
		</div>
    </section>
</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/common.js"></script>
<script>
	//发送验证码
	function sendPhoneCode() {
		var timeFlag = document.getElementById("timeFlag").value;
		if(timeFlag == 0){
			return;
		}
		document.getElementById("timeFlag").value = 0;
		var phone = $("#phone").val();
		if(phone.trim() == ''){
			document.getElementById("timeFlag").value = 1;
			return showDialog('手机号码不能为空');
		}
		$.ajax({
			url: "login/sendPhoneCode",
			type: 'POST',
			data: {
				"validType": $("#validType").val(),
				"phone": phone.trim()
			},// 要提交的表单 ,
			async: false,
			cache: false,
			dataType: "json",
			success: function (data) {
				var code = data.resp_code;
				if (code == 1) {
					showDialog('验证码发送成功');
					$(".btn-mybtn3").css("background","gray");
					t = 100;
					inter = setInterval("fun()", 1000);
				} else {
					showDialog(data.resp_desc);
					document.getElementById("timeFlag").value = 1;
				}
			}
		});
	}

	//登录
	function phoneCodeLogin() {
		var phone = $("#phone").val();
		var phoneCode = $("#phoneCode").val();
		if(phone.trim() == ''){
			return showDialog('手机号码不能为空');
		}
		if (phoneCode.trim() == '' || phoneCode.trim().length != 4) {
			return showDialog('请输入短信验证码');
		}
		$.ajax({
			url: "login/phoneCodeLogin",
			type: 'POST',
			data: {
				"phone": phone.trim(),
				"phoneCode": phoneCode.trim()
			},// 要提交的表单 ,
			async: false,
			cache: false,
			dataType: "json",
			success: function (data) {
				var code = data.resp_code;
				if (code == 1) {
					showDialog('登录成功');
					setTimeout("javaScript:window.location.href='center/userCenter'",1000);
				} else {
					showDialog(data.resp_desc);
					$("#phoneCode").val("");
				}
			}
		});
	}
</script>
<script>
	//倒计时
	var t ;
	function fun() {
		t--;
		document.getElementById("time").innerHTML = t+"s";
		if(t < 0) {
			clearInterval(inter);
			document.getElementById("time").innerHTML = "获取短信验证码";
			document.getElementById("timeFlag").value = 1;
			$(".btn-mybtn3").css("background","#cd1144");
		}
	}
	var inter ;
</script>
</html>
