<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <base th:href="@{/}">
    <link rel="stylesheet" href="css/ydui.css?rev=@@hash"/>
    <script src="js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/login.css" />
    <style>
        body{
            background-color: white;
            font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
        }
    </style>
</head>
<body>
<section class="g-flexview">
    <section class="g-scrollview">
        <div class="div-top">
            <i class="icon-ucenter"></i>
        </div>
        <div class="div-foot">
            <div class="user-info">
                <div class="cell-item">
                    <div class="cell-left">手机号：</div>
                    <div class="cell-right"><input type="number" pattern="[0-9]*" class="cell-input" placeholder="请输入手机号码" autocomplete="off" id="phone" name="phone"/></div>
                </div>
                <div class="cell-item">
                    <div class="cell-left">密&nbsp;&nbsp;&nbsp;码：</div>
                    <div class="cell-right"><input type="password" class="cell-input" placeholder="请输入密码" autocomplete="off" id="passwd" name="passwd" /></div>
                </div>
                <div class="password-get">
                    <div class="password"><a href="login/resetPasswd">忘记密码</a></div>
                    <div class="code-login"><a href="login/phoneLogin">验证码登录/注册 &#62;</a></div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="login-btn">
                <a href="javascript:passwdLogin()" class="btn-block btn-mybtn4">登录</a>
            </div>
            <div>
                <h5 class="other-login">
                    <span>使用第三方登录</span>
                </h5>
                <div style="clear: both;"></div>
                <div class="other-login-detail" align="center">
                    <div>
                        <img src="img/wx.png">
<!--                        <img src="img/wx.png">-->
                    </div>
                </div>
            </div>
            <div class="register">
                <a>注册/登录即代表同意&nbsp;</a>
                <a class="agreed" href="user-agreed.html">&#60;&#60;用户协议&#62;&#62;</a>
            </div>
        </div>
    </section>
</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/common.js"></script>
<script>
    //登录
    function passwdLogin() {
        var phone = $("#phone").val();
        var passwd = $("#passwd").val();
        if(phone.trim() == ''){
            return showDialog('手机号码不能为空');
        }
        if (passwd.trim() == '' ) {
            return showDialog('请输入密码');
        }
        $.ajax({
            url: "login/passwdLogin",
            type: 'POST',
            data: {
                "phone": phone.trim(),
                "passwd": passwd.trim()
            },// 要提交的表单 ,
            async: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                var code = data.resp_code;
                if (code == 1) {
                    showDialog('登录成功');
                    setTimeout("javaScript:window.location.href='center/userCenter'",1000);
                } else {
                    showDialog(data.resp_desc);
                    $("#phoneCode").val("");
                }
            }
        });
    }
</script>
</html>
