<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
	<link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/orderlist.css" />
    <link rel="stylesheet" href="css/pay.css" />
</head>
<body>
<section class="g-flexview">
	<header class="m-navbar">
        <a class="navbar-item"><i class="back-ico" onclick="javascript:history.go(-1)"></i></a>
        <div class="navbar-center">
			<span class="navbar-title">订单列表<span  th:text="${'——'+orderStatusName}"></span></span>
		</div>
        <div class="navbar-item navbar-right"><a href="index/mainPage"><i class="icon-home-outline"></i></a></div>
	</header>
	<div class="header-height"></div>
    <section class="g-scrollview">
		<input type="hidden" value="status" th:value="${status}" id="status">
    	<section class="g-scrollview" id="J_List">
        	<div id="J_ListContent" class="m-list list-theme1"></div>
    	</section>
    </section>
</section>
<div id="html3" style="display: none;">
    <div class="pay-items">
        <div class="pay-title">
            <div>支付方式</div>
            <div><a href="javascript:closeToAddrDiv()"><i class="icon-x"></i></a></span></div>
        </div>
        <div style="clear: both;"></div>
        <div class="pay-item-detail">
            <a href="javascript:submitPayCenterData(1)">
                <div class="pay-name"><span><i class="icon-pay-wx"></i></span>微信支付</div>
                <div class="pay-name-next"><i class="icon-turnnext"></i></div>
            </a>
            <a href="javascript:submitPayCenterData(2)">
                <div class="pay-name"><span><i class="icon-pay-alipy"></i></span>支付宝支付</div>
                <div class="pay-name-next"><i class="icon-turnnext"></i></div>
            </a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script src="js/ydui.js"></script>
<script src="./js/ydui.flexible.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/pay.js"></script>
<script>
	var html = $("#testhtml").html();
</script>
<script src="js/ydui.js"></script>
<script th:inline="javascript">
    !function () {
        // 根据实际情况自定义获取数据方法
		var page = 1, pageSize = 20;
		var loadMore = function (callback) {
			$.ajax({
				url: 'order/loadOrderList',
				dataType: 'json',
				data: {
					page: page,
					pagesize: pageSize,
					status:$("#status").val()
				},
				success: function (ret) {
					typeof callback == 'function' && callback(ret);
				}
			});
		};


		$('#J_List').infiniteScroll({
			binder: '#J_List',
			pageSize: pageSize,
			initLoad: true,
			loadingHtml: '<img src="img/loading10.svg"/>',
			//doneTxt:'没有更多数据了',
			loadListFn: function () {
				var def = $.Deferred();
				loadMore(function (ret) {
					var code = ret.code;
					var data = ret.data;
					var hasNext = false;
					if (code == 1) {
						var orderList = data.order_list;
						hasNext = data.has_next;
						for (var i = 0; i < orderList.length; i++) {
							var orderNo = orderList[i].order_no;
							var orderStatus = orderList[i].order_status;
							var orderStatusName = orderList[i].order_status_name;
							var orderPrice = orderList[i].order_price;
							var shopName = orderList[i].shop_name;
							var shopLogo = orderList[i].shop_logo;
							var orderId = orderList[i].order_id;
							var orderCount = orderList[i].order_count;


							var htmlDetail = "";
							var detailList = orderList[i].detail_list;
							for (var j = 0; j < detailList.length; j++) {
								var goodsName = detailList[j].goods_name;
								var saleMoney = detailList[j].sale_money;
								var goodsCount = detailList[j].goods_count;
								var goodsImg = detailList[j].goods_img;
								var goodsSpecNameStr = detailList[j].goods_spec_name_str;
								htmlDetail = htmlDetail + "<div class='goods-item' onclick='javascript:toDetail(\"" + orderNo + "\")'>\n" +
										"<div class='goods-img'>\n" +
										"<div align='center'><img src='" + goodsImg + "'></div>\n" +
										"</div>\n" +
										"<div class='goods-mes'>\n" +
										"<h3 class='goods-title'>" + goodsName + "</h3>\n" +
										"<div class='goods-spec'>" + goodsSpecNameStr + "</div>\n" +
										"<div class='goods-mes-item'>\n" +
										"<div>\n" +
										"<span class='goods-price'><em>¥</em>" + saleMoney + "</span>\n" +
										"</div>\n" +
										"<div>\n" +
										"<span class='buy-count'>X " + goodsCount + "</span>\n" +
										"</div>\n" +
										"</div>\n" +
										"</div>\n" +
										"<div style='clear: both;'></div>\n" +
										"</div>";
							}

							var html = "<div class='shop-list'>\n" +
									"<div class='shop-name'>\n" +
									"<div>\n" +
									"<span><i class='icon-shop-logo'></i></span>\n" +
									"<span>" + shopName + "</span>\n" +
									"<span><i class='icon-turnnext'></i></span>\n" +
									"</div>\n" +
									"<div>" + orderStatusName + "</div>\n" +
									"</div>\n" +
									"<div style='clear: both;'></div>\n" +
									"<div class='goods-list'>";


							html = html + htmlDetail;

							//操作(0待付款1已付款2确认中3已失败4待发货5待收货6已完成7已取消8已删除9退款中10已退款11处理中12还货中13已还货)
                            var statusHtml = "";
                            if(0 == orderStatus){
                                statusHtml = statusHtml + "<a href='javascript:updateOrderStatus("+orderId+",7);' class='btn btn-mybtn3'>取消订单</a>";
                                statusHtml = statusHtml + "<a href='javascript:chosePayWay(\""+orderNo+"\");' class='btn btn-mybtn3'>去付款</a>";
                            }else if(1 == orderStatus){
                                if(Number(orderPrice) == 0 || Number(orderPrice) == 0.00){
                                    statusHtml = statusHtml + "<a href='javascript:updateOrderStatus("+orderId+",7);' class='btn btn-mybtn3'>取消订单</a>";
                                }else{
                                    statusHtml = statusHtml + "<a href='javascript:orderRefund("+orderId+");' class='btn btn-mybtn3'>申请退款</a>";
                                }
                            }else if(2 == orderStatus){

                            }else if(3 == orderStatus){

                            }else if(4 == orderStatus){
                                statusHtml = statusHtml + "<a href='javascript:orderRefund("+orderId+");' class='btn btn-mybtn3'>申请退款</a>";
                            }else if(5 == orderStatus){
                                statusHtml = statusHtml + "<a href='javascript:updateOrderStatus("+orderId+",6);' class='btn btn-mybtn3'>确认收货</a>";
                            }else if(6 == orderStatus){
                                statusHtml = statusHtml + "<a href='javascript:;' class='btn btn-mybtn3'>申请售后</a>";
                            }else if(7 == orderStatus){
                                statusHtml = statusHtml + "<a href='javascript:updateOrderStatus("+orderId+",8);' class='btn btn-mybtn3'>删除订单</a>";
                            }else if(8 == orderStatus){

                            }else if(9 == orderStatus){

                            }else if(10 == orderStatus){

                            }else if(11 == orderStatus){

                            }else if(12 == orderStatus){

                            }else if(13 == orderStatus){

                            }

							html = html + "</div>\n" +
									"<div class='shop-order-count'>\n" +
									"<span>共" + orderCount + "件商品</span>\n" +
									"<span>实付:</span>\n" +
									"<span class='goods-price-count'><em>¥</em>" + orderPrice + "</span>\n" +
									"</div>\n" +
									"<div class='shop-order-count-btn'>\n" +
                                    statusHtml+
									"</div>\n" +
									"</div>";
							$('#J_ListContent').append(html);
						}
					}
					/* 获取数据，并插入页面后，调用resole，并传入当前获取的记录列表集合 */
					def.resolve(hasNext);
					++page;
				});
				return def.promise();
			}
        });
        
    }();

    //查看订单详情
   function toDetail(orderNo){
       window.location.href = "order/orderDetail?orderNo="+orderNo
   }

    //修改订单状态
    function updateOrderStatus(orderId,status) {
        //  0 待付款  1 已付款  3 已失败  4 待发货  5 待收货  6 已完成  7 已取消  8 已删除  9 退款中  10 已退款  11 处理中  12 还货中  13 已还货
        var title = "";
        if(status == 7){
            title = "确认取消订单?";
        }else if(status == 8){
            title = "确认删除订单?";
        }else if(status == 6){
            title = "确认收货?";
        }

        if(title == ""){
            return showDialog('操作失败');
        }

        YDUI.dialog.confirm(title, [
            {
                txt: '取消',
                color: false, /* false:黑色  true:绿色 或 使用颜色值 */
                callback: function () {

                }
            },
            {
                txt: '确定',
                color: "#cd1144", /* false:黑色  true:绿色 或 使用颜色值 */
                callback: function () {
                    $.ajax({
                        url: "order/updateOrderStatus",
                        type: 'POST',
                        data: {
                            "orderId": orderId,
                            "status": status
                        },// 要提交的表单 ,
                        async: false,
                        cache: false,
                        dataType: "json",
                        success: function (data) {
                            var code = data.resp_code;
                            if (code == 1) {
                                showDialog('操作成功');
                                setTimeout("javascript:window.location.reload();", 1000);
                            } else {
                                showDialog("操作失败");
                            }
                        }
                    });
                }
            }
        ]);
    }

    //申请退款
    function orderRefund(orderId) {
        YDUI.dialog.confirm("确认申请退款吗?", [
            {
                txt: '取消',
                color: false, /* false:黑色  true:绿色 或 使用颜色值 */
                callback: function () {

                }
            },
            {
                txt: '确定',
                color: "#cd1144", /* false:黑色  true:绿色 或 使用颜色值 */
                callback: function () {
                    $.ajax({
                        url: "order/orderRefund",
                        type: 'POST',
                        data: {
                            "orderId": orderId
                        },// 要提交的表单 ,
                        async: false,
                        cache: false,
                        dataType: "json",
                        success: function (data) {
                            var code = data.resp_code;
                            if (code == 1) {
                                showDialog('操作成功');
                                setTimeout("javascript:window.location.reload();", 1000);
                            } else {
                                showDialog("操作失败");
                            }
                        }
                    });
                }
            }
        ]);
    }
</script>
</html>
