<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
	<link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <script src="./js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/useraddr.css" />
</head>
<body>
<input type="hidden" th:value="${session.version}" id="v">
<section class="g-flexview">
	<header class="m-navbar">
        <a  class="navbar-item"><i class="back-ico" onclick="javascript:history.go(-1)"></i></a>
        <div class="navbar-center"><span class="navbar-title">收货地址</span></div>
        <a href="javascript:addUserAddr()" class="navbar-item">添加</a>
    </header>
    <div class="header-height"></div>
	<input type="hidden" id="userAddrId" value="0">
	<input type="hidden" id="isDefault" value="0">
    <section class="g-scrollview">
	    <div class="item-list">
	    	<div class="itemt-detail" th:each="item:${data.user_addr_list}">
	    		<div class="user-info">
	    			<span th:text="${item.user_name}"></span>
	    			<span th:text="${item.user_phone}"></span>
	    		</div>
	    		<div class="addr-detail">
	    			<span th:text="${item.addr_name}"></span>
	    		</div>
	    		<div class="addr-setting">
	    			<div>
	    				<input type="checkbox" th:value="${item.id}" name="defaulAddr" onclick="defaulAddr(this)" th:checked="${item.is_default == 1}"/> 设为默认
	    			</div>
	    			<div><a th:href="'javascript:clickUpdateUserAddr('+${item.id}+',\''+${item.user_name}+'\',\''+${item.user_phone}+'\',\''+${item.area_ids}+'\',\''+${item.area_name}+'\',\''+${item.addr_detail}+'\','+${item.is_default}+')'"><span><i class="icon-edit"></i>修改</span></a><a th:href="'javascript:deleteUserAddr('+${item.id}+','+${item.is_default}+')'"><span ><i class="icon-delete"></i>删除</span></a></div>
	    		</div>
	    		<div style="clear: both;"></div>
	    	</div>
	    </div>
	    
        <div class="m-cell" style="display: none;">
            <div class="cell-item">
                <div class="cell-left">所在地区：</div>
                <div class="cell-right cell-arrow">
                    <input type="text" class="cell-input" readonly id="J_Address" placeholder="请选择收货地址">
                </div>
            </div>
        </div>
        <div id="addAddrDiv" style="display: none;">
        	<div class="addr-div">
	        	<div class="addr-title"><span>添加收货地址</span><span><a href="javascript:closeShowAddrDiv()"><i class="icon-x"></i></a></span></div>
	        	<div style="clear: both;"></div>
	        	<div class="addr-item addr-user-name"><label><input type="text" placeholder="请输入收货人姓名" id="userName"></label></div>
	        	<div class="addr-item addr-phone"><label><input type="number" pattern="[0-9]*" placeholder="请输入收货人电话" id="userPhone"></label></div>
	        	<div class="addr-item addr-area">
	        		<label  onclick="showChoseAddrArea()">
	        			<div>
	        				<span class="chose-addr" data-value="">请选择所在地区</span>
	        			</div>
	        			<div>
	        				<i class="icon-down"></i>
	        			</div>
	        		</label>
	        		<div style="clear: both;"></div>
	        	</div>
	        	<div class="addr-item addr-detail"><label><input type="text" placeholder="请输入详细地址" id="addrDetail"></label></div>
	        	<div class="addr-item div-save" ><a href="javascript:saveData();" class="btn btn-mybtn4">保存</a></div>
        	</div>
        </div>
    </section>
</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<!--
-->
<script type="text/javascript" src="js/common.js" ></script>
<script type="text/javascript" src="js/ydui.my.js" ></script>
 <script>
 	var html = $("#addAddrDiv").html();
 	function addUserAddr(){
 		$("#addAddrDiv").html("");
 		layer.open({
			    type: 1
			    ,content: html
			    ,anim: 'up'
			    ,shadeClose: false
			    ,style: 'position:fixed; bottom:0; left:0; width: 100%; border:none;z-index:200'
		    });
 	}
 	
 	
 	function closeShowAddrDiv(){
 		layer.closeAll();
 	}

 	var provanceCode = "";
 	var cityCode = "";
 	var areaCode = "";
 	function showChoseAddrArea(){
 		 var $target = $('#J_Address');

        var id = $("#userAddrId").val();
        /*if (id > 0) {
            $target.citySelect({
                provance: provanceCode,
                city: cityCode,
                area: areaCode
            });
            alert("provanceCode="+provanceCode+"  cityCode="+cityCode+"  areaCode="+areaCode)
        }*/
        $target.citySelect('open');
        $(".layui-m-layer").css("z-index","200");

 	}

 	function saveData() {

 		var id = $("#userAddrId").val();
 		var areaIds =  $(".chose-addr").attr("data-value");
 		var areaNames = $(".chose-addr").html();
 		var addrDetail = $("#addrDetail").val();
 		var userPhone = $("#userPhone").val();
 		var userName = $("#userName").val();
 		var isDefault = $("#isDefault").val();

 		if(areaIds == ''|| areaNames == ''||areaNames=='请选择所在地区'){
			showDialog("请选择所在地区")
		}
		if(userPhone == ''){
			showDialog("收货人电话不能为空")
		}

		if(userName == ''){
			showDialog("收货人姓名不能为空")
		}
		if(addrDetail == ''){
			showDialog("详细地址不能为空")
		}

		$.ajax({
			url: "center/saveUserAddr",
			type: 'POST',
			data: {
				"id":id,
				"areaIds":areaIds,
				"areaNames":areaNames,
				"addrDetail":addrDetail,
				"userPhone":userPhone,
				"userName":userName,
                "isDefault":isDefault
			},// 要提交的表单 ,
			async: false,
			cache: false,
			dataType: "json",
			success: function (data) {
				var code = data.code;
				if(code == 1){
					showDialog('保存成功');
					setTimeout("javascript:waitDialog()",1000);
				}else{
					showDialog("保存失败");
				}
			}
		});
        resetAddrId();
	}
	function waitDialog() {
		window.location.reload();
	}

	function resetAddrId() {
        $("#userAddrId").val(0);
        $("#isDefault").val(0);
        //provanceCode = "";
        //cityCode = "";
        //areaCode = "";
    }

	 //设置默认
	 function defaulAddr(obj) {
		 $("input[name='defaulAddr']").prop("checked",false);
		 $(obj).prop("checked",true);
		 $.ajax({
			 url: "center/defaulAddr",
			 type: 'POST',
			 data: {
				 "id":$(obj).val()
			 },// 要提交的表单 ,
			 async: false,
			 cache: false,
			 dataType: "json",
			 success: function (data) {
				 var code = data.code;
				 if(code == 1){
					 showDialog('设置成功');
					 setTimeout("javascript:waitDialog()",1000);
				 }else{
					 showDialog("设置失败");
				 }
			 }
		 });
	 }

	//删除地址
	function deleteUserAddr(id,defaulAddr) {
 		if(defaulAddr == 1){
 			showDialog("默认地址不能删除")
 			return;
		}
		YDUI.dialog.confirm('确认删除收货地址?', [
			{
				txt: '取消',
				color: false, /* false:黑色  true:绿色 或 使用颜色值 */
				callback: function () {

				}
			},
			{
				txt: '确定',
				color: true,
				callback: function () {
					$.ajax({
						url: "center/deleteUserAddr",
						type: 'POST',
						data: {
							"id": id
						},// 要提交的表单 ,
						async: false,
						cache: false,
						dataType: "json",
						success: function (data) {
							var code = data.code;
							if (code == 1) {
								showDialog('删除成功');
								setTimeout("javascript:waitDialog()", 1000);
							} else {
								showDialog("删除失败");
							}
						}
					});
				}
			}
		]);
	}

	//点点击修改
    function clickUpdateUserAddr(id, name, phone, areaIds,areaNames,addrDetail,isDefault) {
        $("#userAddrId").val(id);
        $("#isDefault").val(isDefault);
		addUserAddr();
		$("#userPhone").val(phone);
		$("#userName").val(name);
		$(".chose-addr").attr("data-value",areaIds);
		$(".chose-addr").html(areaNames);
		$("#addrDetail").val(addrDetail);
		//赋值
        var str = areaIds.split("-");
        provanceCode = str[0];//省
        cityCode = str[1];//市
        areaCode= str[2];//县

		showChoseAddrArea();

    }
	 
 </script>
 <script th:inline="javascript">


	 var YDUI_CITYS = [[${list}]];//省

	 //层级0:国家1:省/自治区/直辖市/特别行政区2:市/省(自治区)直辖县/省直辖区/自治州3:市辖区/县/自治县4:乡/镇/街道5:村

     //市
	 var city;
	 //县
	 var area;

	 //选中的值
	 var regionLevel = "";
	 var regionCode = "";

	 function findProvance() {
	 	if(regionCode == "" || regionLevel == ""){
	 		return;
		}
	 	if(!(regionLevel == 1 ||regionLevel == 2 || regionLevel == 3)){
			return;
		}
		 $.ajax({
			 url: "center/queryCountryAddr",
			 type: 'POST',
			 data: {
				 "parentCode":regionCode,
				 "regionLevel":regionLevel
			 },// 要提交的表单 ,
			 async: false,
			 cache: false,
			 dataType: "json",
			 success: function (data) {
				 if (regionLevel == 2) {
					 city = data.data;
				 } else if (regionLevel == 3) {
					 area = data.data;
				 }
			 }
		 });
	 }

	 //设置要查询的全国地址
	 function selectRegionCode(r,word) {
		 var str = word.split("`");
		 regionLevel = r;
		 regionCode = str[3];
	 }

    /**
     * 默认调用
     */
    !function () {
        var $target = $('#J_Address');

        $target.on('click', function (event) {
            event.stopPropagation();
            $target.citySelect('open');
        });

        $target.on('done.ydui.cityselect', function (ret) {
            $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
            $(".chose-addr").html(ret.provance + ret.city + ret.area);
        });
    }();


    //选择省
	 var chose1 = "";
	 function choseProvance(c1) {
		 chose1 = c1;
		 console.log("chose1="+chose1);
	 }
    //选择市
	 var chose2 = "";
	 function choseCity(c2) {
		 chose2 = c2;
		 console.log("chose2="+chose2);
	 }
    //选择县
	 var chose3 = "";
	 function choseArea(c3) {
		 chose3 = c3;
		 console.log("chose3="+chose3);
		 $(".chose-addr").attr("data-value",chose1+"-"+chose2+"-"+chose3)
	 }
</script>

</html>
