<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
	<base th:href="@{/}">
    <link rel="stylesheet" href="./css/ydui.css?rev=@@hash"/>
    <script src="js/ydui.flexible.js"></script>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <link rel="stylesheet" href="css/usercenter.css" />
</head>
<body>
<section class="g-flexview">
    <section class="g-scrollview">
    	<div class="user-info">
    		<div align="center" class="user-phone"><img src="img/photo1.png"></div>
    		<div align="center" class="nichen" th:text="${session.user.nickName}"></div>
    		<div align="center" class="class-id"th:text="${'SVIP: '+session.user.memberId}" th:if="${session.user.memberId != ''}"></div>
    		<div align="center" class="class-data" th:if="${session.user.startTime != ''}"><span th:text="${session.user.startTime}"></span> 至 <span th:text="${session.user.endTime}"></span></div>
    	</div>
    	<div class="user-msg">
    		<div>
    			<span th:text="${data.user_money}"></span>
    			<!--<span>零钱</span>-->
    			<span>持续开放中</span>
    		</div>
    		<div>
				<span th:text="${data.user_jifen}"></span>
    			<!--<span>积分</span>-->
				<span>持续开放中</span>
    		</div>
    		<div>
				<span th:text="${data.order_price_all}"></span>
    			<span>消费总额</span>
    		</div>
    	</div>
    	<div style="clear: both;"></div>
		<div class="m-cell">
		    <a class="cell-item" href="javascript:loadOrderList(-1)">
		        <div class="cell-left"></i>我的订单</div>
		        <div class="cell-right cell-arrow">查看全部订单</div>
		    </a>
		</div>
		<div class="m-cell-order">
			<div onclick="loadOrderList(0)">
				<div align="center"><img src="img/order/o1.png"/></div>
				<div>待付款</div>
				<div class="badge-count" th:text="${data.order_dfk}" th:if="${data.order_dfk>0}">0</div>
			</div>
			<div onclick="loadOrderList(1)">
				<div align="center"><img src="img/order/o2.png"/></div>
				<div>已付款</div>
				<div class="badge-count" th:text="${data.order_yfk}" th:if="${data.order_yfk>0}">0</div>
			</div>
			<div onclick="loadOrderList(5)">
				<div align="center"><img src="img/order/o4.png"/></div>
				<div>待收货</div>
				<div class="badge-count" th:text="${data.order_dsh}" th:if="${data.order_dsh>0}">0</div>
			</div>			
			<div onclick="loadOrderList(9)">
				<div align="center"><img src="img/order/o3.png"/></div>
				<div>退款中</div>
				<div class="badge-count" th:text="${data.order_tkz}" th:if="${data.order_tkz>0}">0</div>
			</div>
			<div onclick="loadOrderList(10)">
				<div align="center"><img src="img/order/o3.png"/></div>
				<div>已退款</div>
				<div class="badge-count" th:text="${data.order_ytk}" th:if="${data.order_ytk>0}">0</div>
			</div>
		</div>
		<div class="m-cell-order">
			<div onclick="loadOrderList(12)">
				<div align="center"><img src="img/order/o5.png"/></div>
				<div>还货中</div>
				<div class="badge-count" th:text="${data.order_hhz}" th:if="${data.order_hhz>0}">0</div>
			</div>
			<div onclick="loadOrderList(13)">
				<div align="center"><img src="img/order/o5.png"/></div>
				<div>已还货</div>
				<div class="badge-count" th:text="${data.order_yhh}" th:if="${data.order_yhh>0}">0</div>
			</div>
			<div onclick="loadOrderList(7)">
				<div align="center"><img src="img/order/o4.png"/></div>
				<div>已取消</div>
				<div class="badge-count" th:text="${data.order_yqx}" th:if="${data.order_yqx>0}">0</div>
			</div>
			<div onclick="loadOrderList(3)">
				<div align="center"><img src="img/order/o2.png"/></div>
				<div>已失败</div>
				<div class="badge-count" th:text="${data.order_ysb}" th:if="${data.order_ysb>0}">0</div>
			</div>
			<div onclick="loadOrderList(6)">
				<div align="center"><img src="img/order/o1.png"/></div>
				<div>已完成</div>
				<div class="badge-count" th:text="${data.order_ywc}" th:if="${data.order_ywc>0}">0</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<!--<div class="m-cell">
		    <a class="cell-item" href="#">
		        <div class="cell-left"></i>我的福利</div>
		        <div class="cell-right cell-arrow"></div>
		    </a>
		</div>-->
		<div class="m-cell">
		    <a class="cell-item" href="center/userAddr">
		        <div class="cell-left"></i>收货地址</div>
		        <div class="cell-right cell-arrow"></div>
		    </a>
		</div>
		<div class="m-cell">
		    <a class="cell-item" href="center/toServicePage">
		        <div class="cell-left"></i>服务中心</div>
		        <div class="cell-right cell-arrow"></div>
		    </a>
		</div>
		<!--<div class="m-cell">
		    <a class="cell-item" href="#">
		        <div class="cell-left"></i>绑定/会员卡</div>
		        <div class="cell-right cell-arrow"></div>
		    </a>
		</div>-->
		<div class="m-cell">
			<a class="cell-item" href="center/toBangPhone">
				<div class="cell-left"></i>绑定/解绑微信</div>
				<div class="cell-right cell-arrow"></div>
			</a>
		</div>
		<div class="m-cell">
			<a class="cell-item" href="login/resetPasswd">
				<div class="cell-left"></i>重置登录密码</div>
				<div class="cell-right cell-arrow"></div>
			</a>
		</div>
		<div class="m-cell">
			<a class="cell-item" href="login/cancelAccount">
				<div class="cell-left"></i>注销账号</div>
				<div class="cell-right cell-arrow"></div>
			</a>
		</div>
		<a href="login/userExit" class="btn-block btn-mybtn4">退出登录</a>
		<div class="cont_warp_clear">
			&nbsp;
		</div>
        <footer class="m-tabbar tabbar-fixed">
            <a href="index/mainPage" class="tabbar-item">
                <div class="tabbar-icon">
                    <i class="icon-home"></i>
                </div>
                <div class="tabbar-txt">首页</div>
            </a>
            <a href="category/categoryPage" class="tabbar-item">
                <div class="tabbar-icon">
                    <i class="icon-catogrey"></i>
                </div>
                <div class="tabbar-txt">分类</div>
            </a>
            <a href="order/shopCartList" class="tabbar-item">
                <div class="tabbar-icon">
                    <i class="icon-shopcart"></i>
                </div>
                <div class="tabbar-txt">购物车</div>
            </a>
            <a href="center/userCenter" class="tabbar-item foor-activate">
                <div class="tabbar-icon">
                    <i class="icon-ucenter"></i>
                </div>
                <div class="tabbar-txt">我的</div>
            </a>
        </footer>
    </section>
</section>
</body>
<script type="text/javascript" src="js/layer.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="js/ydui.js" ></script>
<script type="text/javascript" src="js/common.js" ></script>
<script>

	//查询订单
	function loadOrderList(status) {
		window.location.href = "order/orderListPage?status="+status;
	}
</script>
</html>
